@import '~bootstrap/dist/css/bootstrap';

.btn-gray{
    margin: 30px !important;
    background:#cecece;
    width: 150px
}

.custom-container {
    max-width: 500px;
  }
  
  .custom-container-2 {
    max-width: 800px;
  }

  .table-bordered td {
    font-size: 14px;
  }

  .table-bordered th {
    background: rgb(146, 182, 80);
  }
  
  .no-data {
    padding-top: 50px;
  }
  
  .no-data p {
    font-size: 27px;
    color: rgba(0, 0, 0, .5);
    letter-spacing: .2px;
    padding-bottom: 10px;
  }